<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gestion501">
        <activity
            android:name=".clientes.CustomerListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".clientes.AgregarClienteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.tareas.TareasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.misDatos.MisDatosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.listaTareas.ListaTareasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.gastos.GastosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.favoritos.FavoritosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.empresa.EmpresaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.registro.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.PrecargadoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>